name: Deploy Quarto Documentation

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: quarto-dev/quarto-actions@v2
        with:
          publish: gh-pages
:x

